<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- typeAliases：エイリアス設定 -->
    <typeAliases>
        <package name="pro.eng.yui.oss.d2h.db.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/RoleMapper.xml"/>
    </mappers>
</configuration>