[Unit]
Description=Discord2HtmlSystem
After=network.target

[Service]
WorkingDirectory=/home/ubuntu
ExecStart=java -jar ExecStart=java -jar /home/ubuntu/java_app/discord2html/target/discord2html-latest.jar
User=ubuntu
Restart=always
SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
Environment=SPRING_PROFI+ES_ACTIVE=prod