name: Deploy to Sakura VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          DATABASE_PASS: ${{ secrets.DATABASE_PASS }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          mkdir -p java_app/discord2html/src/main/resources
          echo "discord.auth=${DISCORD_TOKEN}" > java_app/discord2html/src/main/resources/secret.properties
          echo "database.pass=${DATABASE_PASS}" >> java_app/discord2html/src/main/resources/secret.properties
          echo "github.token=${GH_TOKEN}" >> java_app/discord2html/src/main/resources/secret.properties
          mvn -B package --file java_app/discord2html/pom.xml
          
      - name: Upload jar to VPS
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          source: "java_app/discord2html/target/discord2html-*.jar"
          target: "/home/ubuntu"
        
      - name: Run on VPS
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd /home/ubuntu/java_app/discord2html/target
            sudo rm -f discord2html-latest.jar
            sudo ln -sf $(ls -1 discord2html-*.jar | sort | tail -n 1) discord2html-latest.jar
            sudo systemctl restart discord2html
          